[[block]]
block = "packages"
package_manager = ["pacman", "aur"]
interval = 600
format = " $icon $total updates available |"
format_singular = " $icon $total update available |"
format_up_to_date = " up to date |"
critical_updates_regex = "(linux)"
aur_command = "paru -Qua"
[[block.click]]
button = "right"
update = true
[[block.click]]
button = "left"
cmd = "fakeroot paru -Qua --dbpath /tmp/checkup-db-i3statusrs-$USER/ | wofi --show dmenu"
