* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Liberation Mono;
    font-size: 14;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}

#workspaces button.focused {
    color: white;
}

#custom-pacman {
    padding-left: 16px;
    padding-right: 8;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#network {
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 0px;
    transition: none;
    background: #383c4a;
}

#network.disconnected {
    background: #8D1616;
}

#cpu {
    padding-left: 8px;
    padding-right: 16px;
    border-radius: 0px;
    transition: none;
    background: #383c4a;
}

#memory {
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    background: #383c4a;
}

#scratchpad {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#bluetooth {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#bluetooth.connected {
    background: #6F826A;
}

#bluetooth.off {
    background: #8D1616;
}

#bluetooth.disabled {
    background: #8D1616;
}

#bluetooth.no-controller {
    background: #8D1616;
}

#mpris {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#mpris.spotify {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #168D40;
}


#language {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#keyboard-state {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-mail {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#mode {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
