window {
    margin: 5px;
    border: 3px solid gray;
    background-color: rgba(44,44,44,0.9);
    border-radius: 24px;
    animation: slideIn 0.2s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.2s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

#input {
    margin: 5px;
    background: transparent;
    color: white;
    /* border: 2px solid blue; */
    /* background-color: blue; */
}

#outer-box {
    margin: 5px;
    /* border: 2px solid green; */
    border: 2px transparent;
    /* background-color: green; */
}

#scroll {
    margin: 5px;
    /* border: 2px solid orange; */
    /* background-color: orange; */
}

#text {
    margin: 5px;
    color: white;
    /* border: 2px solid cyan; */
    /* background-color: cyan; */
}

#entry {
    padding: 10px;
}

#entry:selected {
    background-color: #8174A0;
    border-radius: 24px;
    outline: none;
    /* text-decoration: underline; */
    /* text-decoration-color: white; */
}

#text:selected {
     /* background-color: red; */
    /*text-decoration: underline;*/
    text-decoration-color: white;
}
